  body{
  background-color: #0f172a;
  color: #f1f5f9;  
    
 }
 .navbar {
  
  
  display: flex;
   font-size: 20px;
  align-items: center;
  
}

 

.navbar ul {
  display: flex;
  list-style: none;
  
}

.navbar ul li a {
  color: #f8fafc;
  text-decoration: none;
  transition: 0.3s;
  margin-right: 20px;
}

.navbar ul li a:hover,
.navbar ul li.active a {
  color: crimson;
}

 
@media (max-width: 768px) {
  nav ul {
    display: flex;
    flex-direction: column;  
    gap: 10px;
    align-items: center;
    padding: 0;
  }

  h3 {
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 0 10px;
  }

  form {
    padding: 10px;
    max-width: 90%;
    margin: 0 auto;
  }

  label {
    font-size: 18px;  
  }

  .form-control, .form-select {
    font-size: 14px;
    padding: 8px;
  }

  button {
    width: 100%;  
    margin-top: 10px;
  }
}
 
@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  h3 {
    font-size: 1rem;
  }

  form {
    padding: 5px;
    max-width: 95%;
  }

  label {
    font-size: 16px;
  }

  .form-check-inline {
    display: block;  
    margin-bottom: 10px;
  }

  footer {
    font-size: 12px;
    text-align: center;
    padding: 20px;
  }
}
 